.features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #3D3939;
    color: white;
    padding: 80px 0;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25.1%;
}
.feature i{
    font-size: 130px;
    color: #E5B91D;
}
.feature h2{
    font-size: 40px;
    margin: 30px 0 0 0;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.feature p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
