.menu_container{
    background-color: #3D3939;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 70px 0;
}
.menu{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.menu_container h1{
    font-family: 'Amatic SC',cursive;
    font-size: 60px;
}
.menu_item{
    width: 25.1%;
    font-size: 23px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.menu span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.menu_item img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
    object-fit: cover;
    object-position: center;
}
.menu_hover{
    height: 0;
    width: 100%;
    background-color: rgba(61, 57, 57, 0.5);
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.menu_item:hover .menu_hover{
    height: 100%;
    z-index: 1;
}
.item_name{
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.menu_item:hover .item_name{
    color: #3D3939;
}
.ingredients{
    font-size: 17px;
    text-align: center;
}
.ser_txt h2{
    font-size: 25px;
}

@media(max-width:1500px){
    .menu_item img{height: 250px;}
}
@media(max-width:1200px){
    nav img{
        width: 120px;
    }
    nav .desk_list a{
        font-size: 17px;
    }
    .menu_item img{height: 200px;}
    .menu_item{font-size: 20px;}
}
@media(max-width:1000px){
    nav img{
        width: 110px;
    }
    .menu_item img{height: 150px;}
    .menu_item{font-size: 15px;}
    nav .desk_list a{
        font-size: 13px;
    }
    .ser .image img{
        height: 600px;
        object-fit: cover;
    }
    .ser_txt h2{
        font-size: 33px;
    }
    .ser_txt p{
        font-size:24px ;
    }
    .subscribe{
        flex-direction: column;
    }
    .subscribe button{
        margin: 20px 0 0 0;
    }
    .footer_text span{
        width: 80%;
        text-align: center;
    }
    .socials{
        width: 50%;
    }
    .about p{
        font-size: 19px;
    }
    .about h1{
        font-size: 40px;
    }
}


@media(max-width:768px){
    .menu_item img{height: 200px;}
    .menu_item{width: 40%;}
    .delivery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .delivery img{
        width: 70%;
    }
    .delivery h1{
        font-size: 37px;
        margin-bottom: 0;
    }
    .delivery p{
        font-size: 20px;
    }
    .features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .feature h2{
        font-size: 39px;
    }
    .feature p{
        font-size: 17px;
        width: 70%;
    }
    .ser .image img{
        height: 400px;
    }
    .ser_txt{
        width: 90%;
    }
    .ser_txt h2{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    .ser_txt p{
        font-size: 20px;
    }
    .about{
        flex-direction: column;
    }
    .about .left, .about img{
        width: 100%;
    }
    .about p{
        font-size: 23px;
    }
    .about h1{
        font-size: 50px;
    }
    .desk_menu{
        justify-content: space-around;
        padding: 0;
    }
    .desk_list{
        display: none;
    }
    #menu_btn:checked + .nav_menu{
        transform: translate(0,0);
    }
    #menu_open i{
        display: block;
    }
    
}


@media(max-width:600px){
    .menu_item img{width: 80%;}
    .menu_item{width: 100%;flex-direction: column;}
}
@media(max-width:500px){
    .menu_item img{height: 170px;width: 100%;}
    .about p{
        font-size: 19px;
    }
    .about h1{
        font-size: 40px;
    }
}
