body{
    margin: 0;
    padding: 0;
}
.gh{
    height: 500px;
}
#language{
    color: yellowgreen;
    font-size: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
nav{
    position: fixed;
    width: 100%;
    background: rgb(224,216,216);
    background: linear-gradient(0deg, rgba(224,216,216,0.19065126050420167) 3%, rgba(147,141,141,0.5379901960784313) 50%, rgba(194,208,210,0.26067927170868344) 97%);
}
.desk_menu{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color:white;
}
#menu_btn{
    display: none;
}
#expandable_menu{
    display: none;
}
nav img {
    width: 190px;
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background-image: url(Images/header_pic.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
header h1{
    margin: 0;
    display: inline-block;
    font-family: cursive;
    font-size: 50px;
}
header p{
    font-size: 30px;
    font-family: cursive;
}
header button{
    color: white;
    font-size: large;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}
.about{
    display: flex;
    flex-direction: row;
    

}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.left p{
    width:70%;
    font-size: 23px;
    font-family:monospace;
}
.left h1{
    font-size: 55px;
    font-family:'Amatic SC',cursive ;
    margin: 0;
}
.right{
    width: 50%;
    object-fit: cover;
    object-position: left;
}

@media(max-width:600px){
    .desk_menu{
        justify-content: space-around;
        padding: 0;
    }
    .desk_list{
        display: none;
    }
    #menu_btn{
        display: inline-block;
        font-size: 50px;
    }
    #menu_btn button{
        color: white;
        font-size: 50px;
    }
    #menu_btn:focus + #expandable_menu{
        display: block;
    }
    
}